head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName+' - say something'
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="bard, blogging platform, simple")
  meta(name="description", content="bard, a simple way to write")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')
  link(href='/img/icons/favicon.ico', rel='icon', type='image/x-icon')

  meta(property='fb:app_id', content='621077091262153')
  meta(property='og:title', content='bard')
  meta(property='og:description', content='- a simple way to write')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://thebard.herokuapp.com')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='bard')
  meta(property='fb:admins', content='Chanakya Bhardwaj')
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900', type='text/css')
  link(rel='stylesheet', href='/css/bard.css')

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
