/*
Import Files
*/
@import "../lib/bootstrap/less/bootstrap";
@import "../lib/font-awesome/less/font-awesome";

/*
View Animation Styles
*/
.reveal-animation.ng-enter, .reveal-animation.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  left:0;
  right:0;
}

.reveal-animation.ng-enter {
  opacity:0;
  left:500px;
}

.reveal-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.reveal-animation.ng-leave {
  left:0;
  opacity:1;
}

.reveal-animation.ng-leave.ng-leave-active {
  left:-500px;
  opacity:0;
}

/*
Modal Styles
*/
.modal {
  display: block;
  width: 400px;
  margin: auto;
  background: #fff;
  height: 500px;
  font-weight:300;

  .modal-header{
    padding-bottom:5px;
    border-bottom:2px solid #1abc9c;
    .modal-header-title{
      font-size:16px;
      font-weight:400;
    }
    .modal-header-subtitle{
      margin-top:5px;
      font-size:14px;
      font-weight:300;
    }
  }

  .modal-body{
    table{
      width: 100%;
      td.commandKey{
        float:left;
      }
      td.command{
        font-weight:bold;
        float:right;
      }
    }
  }
}
.modal-body:before,
.modal-body:after {
  display: table;
  content: " ";
}
.modal-header:before,
.modal-header:after {
  display: table;
  content: " ";
}

/*
Common Styles/Utilities
*/
.inline{
  display: inline-block;
}

.divider{
  margin:20px 10px;
  border-top: 1px solid #b8b8b8;
}

h1,h2,h3{
  font-weight:100 !important;
}

.blink  {
  width:1px;
  height: 14px;
  margin-top: 14px;
  margin-left:1px;
  display: inline-block;
  background: #1abc9c;
  -webkit-animation: blink 0.85s cubic-bezier(1.0,0,0,1.0) infinite;
  -moz-animation: blink 0.85s cubic-bezier(1.0,0,0,1.0) infinite;
  animation: blink 0.85s cubic-bezier(1.0,0,0,1.0) infinite;
}
@keyframes blink {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-webkit-keyframes blink {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

/*
Application Styles
*/

body {
  //background: url(../img/pattern.jpg) repeat-x;
  background-color: white;
  font-family: "Lato", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #242424;
  -webkit-font-smoothing: antialiased;

  ::selection {
    background: #7bacac;
  }

  a, a:hover, a:active, a:visited{
    text-decoration: none !important;
    border:none !important;
    outline: none !important;
    color: inherit;
  }

  ul {
    list-style: none;
    li {
      float: left;
      margin: 5px;
    }
  }

}

.content {
  width: 100%;
  padding-top: 30px;
  .view-progress{
    position: absolute;
    right: 50%;
    top: 85px;
    .blink{
      background: #242424;
    }
  }
  .windowMessage{
    float: right;
    clear: both;
    margin-top:20px;
  }
}



/*
Import View Specific Files
*/
@import "UserStatus/UserStatusView";
@import "Articles/AllArticles/AllArticlesView";
@import "Articles/EditArticle/EditArticleView";
@import "Articles/NewArticle/NewArticleView";
@import "Articles/SeeArticle/SeeArticleView";
@import "Authors/SeeAuthor/SeeAuthorView";