<section class="container well-lg">
    <div data-ng-show="userStatus.authenticated">
        <div id="poemForm">
            <div id="titleBox">
                <input type="text" class="mousetrap" data-ng-model="title" id="title" placeholder="title" required autocomplete="off">
                <span class="pull-right articleStatusBox">
                    <span class="pull-right">
                        <div class="pull-left publishIcon" ng-class="{true:'', false:'disabled'}[!!content && !!title]" ng-click="create(true)">Publish</div>
                        <div class="pull-left saveIcon" ng-class="{true:'', false:'disabled'}[!!content && !!title]" ng-click="create(false)">Save</div>
                        <div class="pull-left deleteIcon"><a href="/">Delete</a></div>
                    </span>
                    <div data-ng-show='!!windowMessage' class="windowMessage clearfix">{{windowMessage}}</div>
                </span>
            </div>

            <div class="editableDiv mousetrap" placeholder = "say what you feel like.." data-ng-model="content" id="content" contenteditable required strip-br="true" ng-paste="pasted($event)" keypress="shortcuts"></div>
            <input type="text" class="mousetrap" data-ng-model="subtitle" id="subtitle" placeholder="say something about this piece.." required>
            <i id="gearIcon" class="fa fa-keyboard-o" ng-click="openModal()"></i>
        </div>
    </div>

    <div data-ng-hide="userStatus.authenticated">
        <h3>Please log in to create a new post...</h3>
    </div>
</section>


