/*
Styles for the NEW partial
*/
#poemForm {
  margin: auto;

  input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
  }

  .editableDiv {
    border: none;
    outline: none;
    box-shadow: none;
    margin-top: 35px;
    width: 100%;
    font-size: 24px;
    margin-bottom:15px;
  }

  #titleBox {
    .articleStatusBox {
      background-color: #eee;
      padding: 10px 10px;
      font-size: 14px;
      small {
        margin: 0 10px;
      }

      .saveIcon {
        border-bottom: 2px solid #4DBCD1 !important;
        margin: 0 10px;
        cursor: pointer;
      }

      .publishIcon {
        border-bottom: 2px solid #1abc9c !important;
        margin: 0 10px;
        cursor: pointer;
      }

      .editIcon {
        border-bottom: 2px solid #1abc9c !important;
        margin: 0 10px;
        cursor: pointer;
      }

      .deleteIcon {
        border-bottom: 2px solid red !important;
        margin: 0 10px;
        cursor: pointer;
      }

      .disabled{
        opacity:0.4;
        border:none !important;
        cursor: default;
      }
    }
  }
  #title {
    border-bottom: 2px solid #1abc9c;
    font-size: 40px;
    background: transparent;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #242424;
  }

  #subtitle {
    border-bottom: 1px solid #1abc9c;
    background: transparent;
    font-weight:300;
  }

  #content {
    min-height: 280px;
    font-size: 24px;
  }

  #gearIcon{
    float:right;
    color:#999;
    position:relative;
    top:-40px;
    font-size:20px;
    cursor:pointer;
  }
}

.editableDiv[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555;
}

