/*
Styles for the NEW partial
*/
#poemForm {
  margin: auto;

  input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
  }

  .editableDiv {
    border: none;
    outline: none;
    box-shadow: none;
    margin-top: 35px;
    width: 100%;
    font-size: 24px;
    margin-bottom:15px;
    clear: both;
    @media(max-width:500px){
      margin-top: 50px;
    }

  }

  #titleBox {
    .articleStatusBox {
      padding: 10px 10px;
      font-size: 14px;
      float:right;

      span{
        float:right;
      }

      small {
        margin: 0 10px;
      }

      .windowMessage{
        float: left;
        margin-right:10px;
      }

      .saveIcon {
        float: left;
        border-bottom: 2px solid #4DBCD1 !important;
        margin: 0 10px;
        cursor: pointer;
      }

      .publishIcon {
        float: left;
        border-bottom: 2px solid #1abc9c !important;
        margin: 0;
        cursor: pointer;

        label {
          padding-left: 15px;
          text-indent: -15px;
          font-weight: 300;
          margin: 0;
        }
        input {
          width: 13px;
          height: 13px;
          padding: 0;
          margin:0 0 2px 0;
          vertical-align: bottom;
          position: relative;
          top: -1px;
          *overflow: hidden;
        }
      }

      .editIcon {
        float: left;
        border-bottom: 2px solid #1abc9c !important;
        margin: 0 10px;
        cursor: pointer;
      }

      .deleteIcon {
        float: left;
        border-bottom: 2px solid red !important;
        margin: 0 10px;
        cursor: pointer;
      }

      .bufferIcon{
        border-bottom: 2px solid #000 !important;
        margin: 0 10px;
        cursor: pointer;
      }

      .bufferIconSuccess{
        border-bottom: 2px solid #1abc9c !important;
        margin: 0 10px;
        cursor: pointer;
      }

      .bufferIconError{
        border-bottom: 2px solid red !important;
        margin: 0 10px;
        cursor: pointer;
      }

      .disabled{
        float: left;
        opacity:0.4;
        border:none !important;
        cursor: default;
      }

      @media(max-width:500px){
        float:none;
        display:block;
        clear:both;
        text-align: right;
        padding:0px;

        span{
          float: right;
          display:block;
          clear:both;
        }
        small, .windowMessage, .saveIcon, .publishIcon, .editIcon, .deleteIcon, .bufferIcon,{
          float: right;
          margin:20px 0 0 0;
          display:block;
          clear:both;
        }
      }
    }
  }
  #title {
    border-bottom: 2px solid #1abc9c;
    font-size: 40px;
    background: transparent;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #242424;
  }

  #subtitle {
    border-bottom: 1px solid #1abc9c;
    background: transparent;
    font-weight:300;
  }

  #content {
    min-height: 280px;
    font-size: 24px;
  }

  .keyboardIcon{
    background: url('../img/icons.png') no-repeat;
    display:inline-block;
    background-position: -100px 0;
    width: 30px;
    height: 30px;
    float: right;
    cursor:pointer;
  }


}

.editableDiv[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555;
}

