<div class="all-block text-left container well-lg">
    <div data-ng-hide="errored" id="poemForm">
        <div id="titleBox">
            <div id="title">{{article.title}}
                <span class="articleTitleAuthorName">-by <a href="/#!users/{{article.user.username}}">{{article.user.name}}</a></span>
            </div>
            <span class="pull-right articleStatusBox">
                <span class="pull-left" data-ng-show="article.published === true">
                    <small>Published {{article.updated | fromNow}}</small>
                </span>
                <span class="pull-left" data-ng-show="article.published === false && userStatus.user._id === article.user._id">
                    <small>Draft saved {{article.updated | fromNow}}</small>
                </span>
                <span class="pull-right" data-ng-show="userStatus.user._id === article.user._id">
                    <a class="editIcon" href="/#!/articles/{{article._id}}/edit">
                        Edit
                    </a>
                    <a class="deleteIcon" data-ng-click="remove();">
                        Delete
                    </a>
                    <a class="bufferIcon" ng-class="{'success' : 'bufferIconSuccess', 'error' : 'bufferIconError'}[bufferStatus]" data-ng-show="userStatus.user.provider === 'bufferapp' && article.published === true" ng-click="share()">
                        Buffer
                    </a>
                </span>
                <div data-ng-show='!!windowMessage' class="windowMessage">{{windowMessage}}</div>
            </span>
        </div>

        <div class="clearFix editableDiv" data-ng-bind-html="article.content | unsafe"></div>
        <div id="clearFix subtitle" data-ng-if="article.subtitle">{{article.subtitle}}</div>
    </div>
    <div data-ng-show="errored" id="errorBox">
        <h3>{{errorMsg}}</h3>
    </div>
</div>
