.all-block{
  #titleBox{
    #title{
      .articleTitleAuthorName{
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        @media(max-width:500px){
          font-size: 14px;
          display:block;
        }
      }
    }
  }
  .editableDiv{
    min-height: 280px;
    margin-bottom:15px;
    clear: both;
  }
}
