/*
Common Styles
*/

.inline{
  display: inline-block !important;
}


@import "../lib/bootstrap/less/bootstrap";
@import "../lib/font-awesome/less/font-awesome";
@import (less) "../lib/medium-editor/dist/css/medium-editor.css";

/*
  Overriding Medium-Editor Styles
*/

.medium-editor-placeholder:after {
  content: attr(data-placeholder);
  color: #555;
  position: inherit;
  font-style: normal !important;
}



body {
  background-color: #f2f2f2;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #181818;
  -webkit-font-smoothing: antialiased;

  a{
    text-decoration: none !important;
    color: inherit;
  }

  ul {
    list-style: none;
    li {
      float: left;
      margin: 5px;
    }
  }

}

.content {
  width: 100%;
  margin-top:150px;
  /*background: url("../img/angler_sub.png") no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

}

.divider{
  margin:20px 10px;
  border-top: 1px solid #b8b8b8;
}

/*Import Section Specific Files*/
@import "UserStatus/UserStatusView";
@import "Articles/AllArticles/AllArticlesView";
@import "Articles/EditArticle/EditArticleView";
@import "Articles/NewArticle/NewArticleView";
@import "Articles/SeeArticle/SeeArticleView";
@import "Authors/SeeAuthor/SeeAuthorView";