<section class="container well-lg" data-ng-controller="NewArticleController">
    <div data-ng-show="userStatus.authenticated">
        <div id="poemForm">
            <input type="text" class="mousetrap" data-ng-model="title" id="title" placeholder="title" required autocomplete="off">
            <div class="editableDiv mousetrap" placeholder = "say what you feel like.." data-ng-model="content" id="content" contenteditable required strip-br="true" ng-paste="pasted($event)" keypress="shortcuts"></div>
            <input type="text" class="mousetrap" data-ng-model="subtitle" id="subtitle" placeholder="something about this piece.." required>
        </div>

        <div class="btn btn-success" ng-click="create(true)">Publish</div>
        <div class="btn btn-info" ng-click="create(false)">Save</div>
        <div class="btn btn-danger"><a href="/">Delete</a></div>
    </div>

    <div data-ng-hide="userStatus.authenticated">
        <h3>You need to log in</h3>
    </div>
</section>


