<section class="container well-lg" data-ng-controller="NewArticleController">
    <div data-ng-show="userStatus.authenticated">
        <div class="editableDiv" placeholder = "title" data-ng-model="title" id="title" contenteditable strip-br="true" ng-paste="pasted($event)"></div>
        <div class="editableDiv" placeholder = "subtitle" data-ng-model="subtitle" id="subtitle" contenteditable strip-br="true" ng-paste="pasted($event)"></div>
        <div class="editableDiv" placeholder = "your post" data-ng-model="content" id="content" contenteditable strip-br="true" ng-paste="pasted($event)"></div>
        <div class="btn btn-success" ng-click="create(true)">Publish</div>
        <div class="btn btn-info" ng-click="create(false)">Save</div>
        <div class="btn btn-danger"><a href="/">Delete</a></div>
    </div>

    <div data-ng-hide="userStatus.authenticated">
        <h3>You need to log in</h3>
    </div>
</section>


