<section class="container well-lg">
    <div data-ng-hide="errored">
        <div id="poemForm">
            <div id="titleBox">
                <input type="text" class="mousetrap" data-ng-model="article.title" id="title" placeholder="title" required autocomplete="off">
                <span class="pull-right articleStatusBox">
                    <span class="pull-right">
                        <div data-ng-show='!!windowMessage' class="windowMessage pull-left">{{windowMessage}}</div>
                        <div class="pull-left publishIcon" ng-class="{true:'', false:'disabled'}[!!article.content && !!article.title]"><input type="checkbox" data-ng-model="article.published" ng-click="publishToggle()"><label data-ng-show="article.published">Published! Click to unpublish ..</label><label data-ng-hide="article.published">Publish now!</label></div>
                        <div class="pull-left saveIcon" ng-class="{true:'', false:'disabled'}[!!article.content && !!article.title]" ng-click="update(false)">Save</div>
                        <div class="pull-left deleteIcon" ng-click="remove()">Delete</div>
                    </span>
                </span>
            </div>

            <div class="editableDiv mousetrap" placeholder = "say what you feel like.." data-ng-bind-html="article.contentClone | unsafe" data-ng-model="article.content" id="content" contenteditable required strip-br="true" ng-paste="pasted($event)" keypress="shortcuts"></div>
            <input type="text" class="mousetrap" data-ng-model="article.subtitle" id="subtitle" placeholder="say something about this piece.." required>
            <span class="keyboardIcon" ng-click="openModal()"></span>
        </div>
    </div>

    <div data-ng-show="errored">
        <h3>{{errorMsg}}</h3>
    </div>
</section>
