<div data-ng-controller="AuthorsController" class="container" data-ng-init="findOne()">
    <div class="row">
        {{author.user.name}}
        {{author.articles.title}}
        <div class="authorItem row">
            <h2>{{author.user.name}}</h2>
            <hr class="divider">
        </div>


        <div class="authorArticleItem row" data-ng-repeat="article in author.articles">
            <h2 class="inline"><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h2>


            <div class="articleItemSubtitle" >{{article.subtitle}}</div>
            <div class="articleItemStatus" >{{article.published}}</div>
            <div class="clearfix"></div>
            <span class="articleItemAuthor" >-by {{article.user.name}}</span>
            <span class="articleItemDate"> {{article.created | fromNow}}</span>

            <hr class="divider">
        </div>
    </div>
</div>