<div data-ng-controller="BannerController" class="container">
    <div class="row">
        <div>
            <a href="/">
                <strong>penman</strong>
            </a>
            <div class="pull-right" data-ng-show="global.authenticated">
                <a href="#!/users/{{global.user.username}}"><img class="userImage img-responsive pull-left" src="{{global.user.image_url}}"></a>
                <div class="btn btn-danger"><a href="/signout">Log Out</a></div>
                <div class="btn btn-success btn-large"><a href="#!/articles/create">Write</a></div>
            </div>
            <ul class="pull-right"  class="col-md-3" data-ng-hide="global.authenticated">
                <li class="bannerSocialIcon"><a href="/auth/facebook"><i class="fa fa-facebook"></i></a></li>
                <li class="bannerSocialIcon"><a href="/auth/twitter"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</div>