<section data-ng-controller="ArticlesController" class="container well-lg">
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<div class="controls">
				<div class="editableDiv" placeholder = "title" data-ng-model="title" id="title" contenteditable strip-br="true" ng-paste="pasted($event)"></div>
			</div>
		</div>
        <div class="control-group">
            <div class="controls">
                <div class="editableDiv" placeholder = "subtitle" data-ng-model="subtitle" id="subtitle" contenteditable strip-br="true" ng-paste="pasted($event)"></div>
            </div>
        </div>
		<div class="control-group">
			<div class="controls">
				<div class="editableDiv" placeholder = "your post" data-ng-model="content" id="content" contenteditable strip-br="true" ng-paste="pasted($event)"></div>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
                <input type="checkbox" ng-model="saveAsDraft">Publish right now ?
			</div>
		</div>
	</form>
</section>