<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
    Created at : <span>{{article.created | date:'medium'}}</span>
    Updated at : <span>{{article.updated | date:'medium'}}</span>
    <span>{{article.user.name}}</span>
    <h2>{{article.title}}</h2>
    <h3>Published : {{article.published}}</h3>
    <div>{{article.content}}</div>
    <div data-ng-show="global.user._id == article.user._id">
        <a class="btn" href="/#!/articles/{{article._id}}/edit">
            <i class="glyphicon glyphicon-edit">edit</i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash">delete</i>
        </a>
    </div>
</section>
