/*
Styles for the Header
*/
.headerContainer {
  color: white;

  .headerPanel{
    position: relative;
    padding: 10px;
    width:100%;
    z-index: 100;
    top:0;
    left:0;
    border-bottom:1px solid #efefef;
    color:#242424;

    .title{
      font-size: 70px;
      margin-bottom: 20px;
      display: inline;
      font-weight:100;
    }

    .sideBox{
      display: inline-block;
      vertical-align: top;
      margin-left: 5px;

      .subtitle{
        font-weight:400;
        font-size: 16px;
        color:#1abc9c;
      }

      .loginBox{
        .facebookIcon, .keyboardIcon, .twitterIcon, .bufferappIcon{
          background: url('../img/icons.png') no-repeat;
          display:inline-block;
          margin:0 6px;
        }

        .facebookIcon{
          background-position: -39px -5px ;
          width: 25px;
          height: 25px;
        }

        .keyboard{
          background-position: -100px 0;
          width: 30px;
          height: 30px;
        }

        .twitterIcon{
          background-position: -2px -5px ;
          width: 30px;
          height: 25px;
        }

        .bufferappIcon{
          background-position: -70px -5px ;
          width: 25px;
          height: 25px;
          margin:0px;
        }


        .socialIcon{
          font-size: 26px;
          .fa-twitter{
            margin-left: 10px;
            color: #55acee;
          }
          .fa-facebook{
            color: #4c66a4;
          }
        }

      }

      .controlBox{
        .controlIcon{
          font-size: 26px;
        }
      }
    }

    .introBox{
      text-align: right;
      margin-top: 10px;
    }
  }

  .headerPanelFixed{
    position: fixed;
    width: 100%;
    background: rgba(255,255,255,0.97);
  }
  .userImage{
    width: 50px;
  }
}