extends layouts/default
block content
  div.view-progress(data-ng-show="loadingView") hold on..
      div.blink
  section(data-ng-view class="reveal-animation")
  script(type="text/javascript").
    window.user = !{user};
  script(type="text/ng-template" id="shortcutModal.html").
      <div class="modal-header">
          <div class="modal-header-title">keyboard shortcuts</div>
          <div class="modal-header-subtitle">
              bard supports all the common features of a rich text editor.
              it means you can style your content as you like.
          </div>
      </div>
      <div class="modal-body">
          <table>
              <tr><td class="commandKey">Tab : </td><td class="command"> shift right </td></tr>
              <tr><td class="commandKey">Shift + Tab : </td><td class="command"> shift left </td></tr>
              <tr><td class="commandKey">Command/Ctrl + z : </td><td class="command"> undo </td></tr>
              <tr><td class="commandKey">Command/Ctrl + Shift + z : </td><td class="command"> redo </td></tr>
              <tr><td class="commandKey">Command/Ctrl + 1 : </td><td class="command"> H1 </td></tr>
              <tr><td class="commandKey">Command/Ctrl + 2 : </td><td class="command"> H2 </td></tr>
              <tr><td class="commandKey">Command/Ctrl + 0 : </td><td class="command"> remove formatting </td></tr>
              <tr><td class="commandKey">Command/Ctrl + b : </td><td class="command"> bold </td></tr>
              <tr><td class="commandKey">Command/Ctrl + u : </td><td class="command"> underline </td></tr>
              <tr><td class="commandKey">Command/Ctrl + i : </td><td class="command"> italic </td></tr>
              <tr><td class="commandKey">Command/Ctrl + Shift + a : </td><td class="command"> justify left </td></tr>
              <tr><td class="commandKey">Command/Ctrl + Shift + s : </td><td class="command"> justify center </td></tr>
              <tr><td class="commandKey">Command/Ctrl + Shift + d : </td><td class="command"> justify right </td></tr>
          </table>
      </div>