extends layouts/default
block content
  div.view-progress(data-ng-show="loadingView") hold on..
      div.blink
  section(data-ng-view class="reveal-animation")
  script(type="text/javascript").
    window.user = !{user};